.donation-form-container {
  padding: 30px;
  margin: 0 300px 0 300px;
}

.donation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 25px 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 4 auto;
  color: #000000;
}

.donation-form__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

.donation-form__label > input {
  margin-top: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.donation-form__submit-button {
  background-color: rbg(43, 71, 92);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.donation-form__submit-button:hover {
  background-color: #303f9f;
}

.donation-form__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
}

.donation-form__message > p {
  margin-bottom: 20px;
  color: #be8a62;
  font-size: 16px;
  font-weight: 500;
}

.donation-form__return-button {
  background-color: #be8a62;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.donation-form__return-button:hover {
  background-color: #303f9f;
}

@media (max-width: 600px) {
  .donation-form {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: 10px;
  }

  .donation-form__message {
    width: 100%;
    color: #295c50;
    border-radius: 0;
    box-shadow: none;
    padding: 10px;
  }
}
