body {
    margin: 0;
    background-color: #e9e6e1;
    color: #e9e6e1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
  }