:root {
  --mainColor: rgb(75, 123, 93);
  --mainColorLight: rgb(43, 71, 92);
  --secondaryColor: #303f9f;
  --textColor: #e9e6e1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0;
  background-color: var(--mainColor);
  color: var(--textColor);
}

.logonavbar {
  height: 70px;
  display: flex;
}

nav a {
  margin: 0 1rem;
  text-align: center;
  color: var(--textColor);
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
}

nav a:hover {
  text-decoration: underline 3px;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
  padding-left: 40rem;
  position: fixed;
  height: 80px;
  background-color: var(--mainColor);
}

nav {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
  }


  nav a {
    font-size: 1.5rem;
  }
}

/* BE8A62 */
