.search-form {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.search-input {
  flex: 1;
  height: 40px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.search-button {
  margin-left: 16px;
  height: 40px;
  padding: 0 16px;
  border: none;
  border-radius: 10px;
  background-color:rgb(94, 138, 117);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}



.donation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.donation-list li {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.body {
  background-color:black;
}